body {
  padding-top: 20px;
  background-color: #ffffff;
}

.container {
  /*background: url('/static/img/bg.png') no-repeat top center;*/
  /*width: 100%;*/
  /*height: 350px; same height as jumbotron */
  top:0;
  left:0;
  z-index: -1;
}

.jumbotron {
  background: url('/static/img/bg-bottom.png') no-repeat bottom center;
  padding-bottom: 150px;
}

.footer {
  padding-bottom: 40px;
  margin-top: 40px;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  background-color: transparent;
}
.jumbotron .btn {
  /*padding: 14px 24px;*/
  /*font-size: 21px;*/
}

/* Customize the nav-justified links to be fill the entire space of the .navbar */

.nav-justified {
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.nav-justified > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 0;
  font-weight: bold;
  color: #777;
  text-align: center;
  background-color: #e5e5e5; /* Old browsers */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e5e5e5));
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
  background-image:      -o-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), color-stop(0%, #f5f5f5), to(#e5e5e5));
  background-image:         linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
  background-repeat: repeat-x; /* Repeat the gradient */
  border-bottom: 1px solid #d5d5d5;
}
.nav-justified > .active > a,
.nav-justified > .active > a:hover,
.nav-justified > .active > a:focus {
  background-color: #ddd;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
          box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
}
.nav-justified > li:first-child > a {
  border-radius: 5px 5px 0 0;
}
.nav-justified > li:last-child > a {
  border-bottom: 0;
  border-radius: 0 0 5px 5px;
}

@media (min-width: 768px) {
  .nav-justified {
    max-height: 52px;
  }
  .nav-justified > li > a {
    border-right: 1px solid #d5d5d5;
    border-left: 1px solid #fff;
  }
  .nav-justified > li:first-child > a {
    border-left: 0;
    border-radius: 5px 0 0 5px;
  }
  .nav-justified > li:last-child > a {
    border-right: 0;
    border-radius: 0 5px 5px 0;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .masthead,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
}

.spacer {
    padding-top: 20px; /* define margin as you see fit */
}

/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #555; /* IE8 proofing */
  color: rgba(0,0,0,.65);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(0,0,0,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #333;
  border-bottom-color: #333;
}

.item-title {
    margin:0;
    font-size: 21px;
    font-weight:300;
    line-height:1.4;
    /*text-align: center;*/
}

.item-data {
    text-align: center;
}

.item-img {
    height: 150px;
}

.item-art, .item-descr {
    margin: 0;
    font-size:12px;
    font-weight:400;
    line-height:1.6;
}

.item-descr {
    margin: 0;
    font-size:12px;
    font-weight:400;
    line-height:1.6;
}

.item-img-cart{
    width: 100px;
    margin-right: 10px;
    float:left
}

.v-center {
    display:flex;
    align-items: center;
    height: 200px;
    margin: 0;
    padding: 0;
    /*border:2px solid gray;*/
}

#items-catalog .item-data {
    position:relative;
    overflow:hidden;
}

.item-caption {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255,255,255,0.7);
    width: 100%;
    height: 100%;
}

.item-caption-sold {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255,255,255,0.7);
    width: 100%;
    height: 100%;
}

.item-price {
    margin: 0;
    font-size:21px;
    font-weight:400;
    line-height:1.6;
}

.item-city {
    margin: 0;
    font-size:12px;
    font-weight:600;
    line-height:1.6;
}

.item-deposit {
    margin: 0;
    font-size:12px;
    font-weight:400;
    line-height:1.6;
}

.secondary {
    margin: 0;
    font-size:12px;
    font-weight:600;
    line-height:1.6;
}


.item-modal {
    z-index: 17000000;
}

.datepicker {
    z-index: 18000000 !important;
}

.border-row {
    border-bottom: 1px solid #777777;
}

.logo {
    text-decoration: none !important;
    color: inherit !important;
    font-size: 36px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
  /*.item-title {*/
      /*font-size: 21px;*/
  /*}*/
}

.nav-pills > li > a {
    font-weight: bold;
    color: #555; /* IE8 proofing */
    color: rgba(0,0,0,.65);
    /*border-bottom: 2px solid transparent;*/
}

.nav-pills > li > a:hover,
.nav-pills > li > a:focus {
    background-color: transparent !important;
    color: #333333;
}

.nav-pills > .active > a,
.nav-pills > .active > a:hover,
.nav-pills > .active > a:focus {
    background-color: #777777 !important;
    /*color: #333333 !important;*/
    border-bottom-color: #333333;
}

.nav-pills > .active > a > span {
    color: #555555 !important;
}

.banner > p {
    color: #FFF !important;
    font-size: 36px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
}

.banner > p > a {
    color: #428bca !important;
    border-color: #84AED3 !important;
    font-weight: 500;
}

.clickable {
    cursor: pointer;
}

.btn-secondary          { color: #ffffff; background-color: #333333; border-color: #a9a9a9; }
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active, .open .dropdown-toggle.btn-secondary
                        { color: #ffffff; background-color: #333333; border-color: #FFFFFF; }

.btn-flat          {color: #333333; background-color: #FFCC00; font-size: 16px; font-weight: bold; margin-top: 8px; margin-left: 20px; margin-right: 20px}
.btn-flat:hover, .btn-flat:focus, .btn-flat:active, .btn-flat.active, .open .dropdown-toggle.btn-flat
                        { color: #333333; background-color: #FFCC00; border-color: #333333; }
.btn-flat:link    { color: #333333; padding: 6px 12px 6px 12px; background-color: #FFCC00; }
.btn-flat:visited { color: #333333; padding: 6px 12px 6px 12px; background-color: #FFCC00; }
.btn-flat:hover   { background-color: #FFCC00 !important; }

a.href-secondary:hover, a.href-secondary:focus, a.href-secondary:active, a.href-secondary.active
                        { color: #ffffff;}

a.href-secondary:link    { color: #FFFFFF; }
a.href-secondary:visited { color: #FFFFFF; }

.vcenter {
    display: flex;
  align-items: center;     /* Align the flex-items vertically */
  justify-content: center;
}




.navbar-findcond > li + li {
  margin-left: 20px;
}
.navbar-findcond > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  color: #555; /* IE8 proofing */
  color: rgba(0,0,0,.65);
  border-bottom: 2px solid transparent;
}
.navbar-findcond > li > a:hover,
.navbar-findcond > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(0,0,0,.25);
}
.navbar-findcond > .active > a,
.navbar-findcond > .active > a:hover,
.navbar-findcond > .active > a:focus {
  color: #333;
  border-bottom-color: #FFCC00;
}

.gray {
    background-color: #F7F7FA;
}

.navbar-black .navbar-nav>li>a,
.navbar-black .navbar-nav>li>a:link,
.navbar-black .navbar-nav>li>a:visited{
    color: #555555;
    font-size: 18px;
}

.navbar-black .navbar-nav>li>a:hover{
    color: #333333;
}

.dropdown-large {
  position: static !important;
}
.dropdown-menu-large {
  margin-left: 16px;
  margin-right: 16px;
  padding: 20px 0;
}
.dropdown-menu-large > li > ul {
  padding: 0;
  margin: 0;
}
.dropdown-menu-large > li > ul > li {
  list-style: none;
}
.dropdown-menu-large > li > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: normal;
}
.dropdown-menu-large > li ul > li > a:hover,
.dropdown-menu-large > li ul > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}
.dropdown-menu-large .disabled > a,
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
  color: #999999;
}
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed;
}
.dropdown-menu-large .dropdown-header {
  color: #428bca;
  font-size: 18px;
}



@media (max-width: 768px) {
  .dropdown-menu-large {
    margin-left: 0 ;
    margin-right: 0 ;
  }
  .dropdown-menu-large > li {
    margin-bottom: 30px;
  }
  .dropdown-menu-large > li:last-child {
    margin-bottom: 0;
  }
  .dropdown-menu-large .dropdown-header {
    padding: 3px 15px !important;
  }
}

.nav-container{width:980px;margin:0 auto;text-align:center;}
.nav{float:left; text-align:left;}

@media (max-width: 768px) {
.nav-container{width:auto;}
}

.navbar-black .navbar-toggle .icon-bar {
    background-color: black;
}

button .button-label {
  display: table-cell;
  vertical-align: middle;
  /*font-weight: 700;*/
  padding-right: 3px;
  font-size: 18px;
  color: #555555;
}
button .button-hamburger {
  display: table-cell;
  padding: 8px;
  border: 1px solid #333;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
button .button-hamburger .icon-bar {
  background: #333;
}
.navbar-toggle {
  border: none;
  padding: 0;
}

.article {
    font-size: 16px;
    line-height: 24px;
}