{% extends 'admin/layout.html' %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="main">
      <h1 class="page-header">{% if is_create %}Добавление точки выдачи{% else %}Редактирование точки выдачи{% endif %}</h1>
      <div class="row">
        <div class="col-sm-6 col-md-6" id="period-form-container">
          <form role="form" method="post" action="{{ url_for('admin_address_create') if is_create else url_for('admin_address_edit', address_id=item.id) }}">
            <div class="form-group">
              <label for="InputTitle">Название</label>
              {{ form.title(id="InputTitle", class="form-control") }}
              <p class="help-block">{{ ', '.join(form.title.errors) }}</p>
            </div>
            <div class="form-group">
              <label for="InputTitle">Название c городом или страной</label>
              {{ form.city_title(id="InputCityTitle", class="form-control") }}
              <p class="help-block">{{ ', '.join(form.city_title.errors) }}</p>
            </div>
            <div class="form-group">
              <label for="InputMinPeriod">Страна</label>
              {{ form.city_id(id="InputCityId", class='form-control', required="")|safe }}
              <p class="help-block">{{ ', '.join(form.city_id.errors) }}</p>
            </div>
            <div class="form-group">
              <label for="InputDescription">Адрес и время работы</label>
              {{ form.address(id="InputAddress", class="form-control", rows="6") }}
              <p class="help-block">{{ ', '.join(form.address.errors) }}</p>
            </div>
            <button type="submit" class="btn btn-success">Сохранить</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}