{% extends 'admin/layout.html' %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="main">
      <h1 class="page-header">Список точек продаж</h1>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-danger" role="alert">{{ message }}</div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      <div class="table-responsive">
        <a href="{{ url_for('admin_address_create') }}" class="btn btn-primary">Добавить</a>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Название</th>
              <th>Название с городом или страной</th>
              <th>Страна</th>
              <th style="width: 10px"></th>
            </tr>
          </thead>
          <tbody>
          {% for item in items|sort %}
            <tr>
              <td><strong>{{ item.id }}</strong></td>
              <td>{{ item.title }}</td>
              <td>{{ item.city_title }}</td>
              <td><small>{{ item.city_id }}</small></td>
              <td nowrap>
                  <a href="{{ url_for('admin_address_edit', address_id=item.id) }}" class="btn btn-primary">Редактировать</a>
                  <a data-href="{{ url_for('admin_address_delete', address_id=item.id) }}" data-toggle="modal" data-target="#confirm-delete" class="btn btn-danger">Удалить</a>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
