{% extends 'admin/layout.html' %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="main">
      <h1 class="page-header">Бронирования</h1>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Товар</th>
              <th>Арендатор</th>
              <th>Заказ / Акт</th>
              <th>Период</th>
              <th>Стоимость</th>
            </tr>
          </thead>
          <tbody>
          {% for item in items if item.invoice.is_payed %}
            <tr>
              <td><b>Артикул {{ item.item.art }}</b> {{ item.item.title }}<br/><small>Залог: {{ item.item.deposit }} euro</small><br/><small>Оценочная стоимость: {{ item.item.estimate }} euro</small></td>
              <td>{{ item.invoice.person_lastname or '' }} {{ item.invoice.person_firstname or '' }}<br><small>{{ item.invoice.person_email or '' }}</small><br><small>{{ item.invoice.person_phone or '' }}</small></td>
              <td>
                <p>Заказ #{{ item.invoice.id }}</p>
                <div class="booking-give-block" {% if item.give_at is not none %}style="display: none"{% endif %} data-booking-id="{{ item.id }}">
                    <p>
                      <a data-booking-id="{{ item.id }}" href="{{ url_for('admin_booking_give', booking_id=item.id) }}" class="btn btn-primary booking-give">Выдать</a><br/>
                    </p>
                </div>
                <div class="booking-return-block" {% if item.give_at is none or item.return_at is not none %}style="display: none"{% endif %} data-booking-id="{{ item.id }}">
                    <p>
                      <a data-booking-id="{{ item.id }}" data-href="{{ url_for('admin_booking_return', booking_id=item.id) }}" class="btn btn-success booking-return" data-toggle="modal" data-target="#confirm-return">Принять</a>
                    </p>
                </div>
                <div class="booking-act-block" {% if item.give_at is none %}style="display: none"{% endif %} data-booking-id="{{ item.id }}">
                    <p>Акт
                      <a target="_blank" href="{{ url_for('admin_booking_act', booking_id=item.id) }}"><nobr><span class="glyphicon glyphicon-file green" aria-hidden="true"></span>&nbsp;{{ item.number }}</nobr></a>
                    </p>
                </div>
              <td>С {{ item.start.strftime('%Y-%m-%d') }} по {{ item.end.strftime('%Y-%m-%d') }}<br/>количество дней {{ item.days }}</td>
              <td>{% if item.invoice.is_trilife and item.is_discount %}{{ item.discount_price }}{% else %}{{item.price}}{% endif %} euro</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}