{% extends 'admin/layout.html' %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="main">
      <h1 class="page-header">Список товаров</h1>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-danger" role="alert">{{ message }}</div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      <div class="table-responsive">
        <a href="{{ url_for('admin_bag_create') }}" class="btn btn-primary">Добавить</a>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Номер</th>
              <th>Название</th>
              <th>Расположение</th>
              <th>Стоимость в сутки</th>
              <th>Залог</th>
              <th>Оценочная стоимость</th>
              <th>Минимальный срок аренды</th>
              <th style="width: 10px"></th>
            </tr>
          </thead>
          <tbody>
          {% for item in bags %}
            <tr>
              <td><strong>{{ item.art }}</strong></td>
              <td>
                  {{ item.title }}<br />
                  <small>{{ item.category|join(', ') }}</small>
              </td>
              <td>{{ item.address.title }}</td>
              <td>{{ item.price }} euro</td>
              <td>{{ item.deposit }} euro</td>
              <td>{{ item.estimate }} euro</td>
              <td>{% if item.min_period == 1 %}Неделя{% elif item.min_period == 2 %}Месяц{% else %}без ограничений{% endif %}</td>
              <td nowrap>
                  <a href="{{ url_for('admin_bag_edit', bag_id=item.id) }}" class="btn btn-primary">Редактировать</a>
                  <a data-href="{{ url_for('admin_bag_delete', bag_id=item.id) }}" data-toggle="modal" data-target="#confirm-delete" class="btn btn-danger">Удалить</a>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}