{% extends 'admin/layout.html' %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="main">
      <h1 class="page-header">{% if is_create %}Добавление товара{% else %}Редактирование товара{% endif %}</h1>
      <div class="row">
        <form role="form" method="post" enctype="multipart/form-data" action="{{ url_for('admin_bag_create') if is_create else url_for('admin_bag_edit', bag_id=bag.id) }}">
        <div class="col-sm-6 col-md-6">
            <div class="form-group">
              <label for="InputTitle">Название</label>
              {{ form.title(id="InputTitle", class="form-control", placeholder="Укажите название", required="")|safe }}
              <p class="help-block">{{ ', '.join(form.title.errors) }}</p>
            </div>
            <div class="form-group">
              <label for="InputCategory">Категория</label>
              {{ form.category(id="InputCategory", class="form-control", placeholder="Выберите категорию", required="")|safe }}
              <!--<p class="help-block">{{ ', '.join(form.category.errors) }}</p>-->
            </div>

            <div class="panel panel-default">
              <div class="panel-body">

            <div class="checkbox">
              <label>
                <input type="checkbox" id="is_discount" name="is_discount" {% if form.is_discount.data %}checked{% endif %}>распостраняется скидка 50%
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" id="is_disabled" name="is_disabled" {% if form.is_disabled.data %}checked{% endif %}>скрыть из каталога
              </label>
            </div>
            <div class="form-group">
              <label for="InputMinPeriod">Минимальный период аренды</label>
              {{ form.min_period(id="InputMinPeriod", class='form-control', required="")|safe }}
              <p class="help-block">{{ ', '.join(form.min_period.errors) }}</p>
            </div>
            <div class="form-group">
              <label for="InputPrice">Стоимость в сутки</label>
              {{ form.price(id="InputPrice", class="form-control", placeholder="Укажите стоимость", required="")|safe }}
              <p class="help-block">{{ ', '.join(form.price.errors) }}</p>
            </div>
            <div class="form-group">
              <label for="InputDeposit">Залог</label>
              {{ form.deposit(id="InputDeposit", class="form-control", placeholder="Укажите размер залога", required="")|safe }}
              <p class="help-block">{{ ', '.join(form.deposit.errors) }}</p>
            </div>
            <div class="form-group">
              <label for="InputEstimate">Оценочная стоимость</label>
              {{ form.estimate(id="InputEstimate", class="form-control", placeholder="Укажите оценочную стоимость", required="")|safe }}
              <p class="help-block">{{ ', '.join(form.estimate.errors) }}</p>
            </div>

            </div>
            </div>

            <button type="submit" class="btn btn-success">Сохранить</button>
        </div>
        <div class="col-sm-6 col-md-6">
            <div class="form-group">
              <label for="InputImage">Изображение</label>
              {% if not is_create %}
              <p>
              <img src="{{ url_for('static', filename=bag.image_path) }}" width="150px" class="img-rounded">
              </p>
              {% endif %}
              {{ form.image(id="InputImage", type="file")|safe }}
              <p class="help-block">Размер не должен превышать 2 Mb.</p>
              <p class="help-block">{{ ', '.join(form.image.errors) }}</p>
            </div>
            <div class="form-group">
              <label for="InputAddress">Адрес</label>
              {{ form.address_id(id="InputAddress", class="form-control", placeholder="Выберите адрес", required="")|safe }}
              <!--<p class="help-block">{{ ', '.join(form.address_id.errors) }}</p>-->
            </div>
            <div class="form-group">
              <label for="InputActTemplate">Шаблон акта</label>
              {{ form.act_template_id(id="InputActTemplate", class="form-control", placeholder="Выберите шаблон акта", required="")|safe }}
              <!--<p class="help-block">{{ ', '.join(form.act_template_id.errors) }}</p>-->
            </div>
            <div class="form-group">
              <label for="InputDescription">Краткое описание</label>
              {{ form.description_short(id="InputDescription", class="form-control", rows="2") }}
              <p class="help-block">{{ ', '.join(form.description_short.errors) }}</p>
            </div>
            <div class="form-group">
              <label for="InputDescription">Описание</label>
              {{ form.description(id="InputDescription", class="form-control", rows="6") }}
              <p class="help-block">{{ ', '.join(form.description.errors) }}</p>
            </div>
            <div class="form-group">
              <label for="InputComments">Комментарий</label>
              {{ form.comments(id="InputComments", class="form-control", rows="2") }}
              <p class="help-block">{{ ', '.join(form.comments.errors) }}</p>
            </div>
            <div class="form-group">
              <label for="InputOption">Опции</label>
              {{ form.option(id="InputOption", class="form-control", placeholder="Выберите опции", required="")|safe }}
            </div>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}