{% extends 'admin/layout.html' %}

{% block css %}
<link href="{{ url_for('static', filename='css/datepicker3.css') }}" rel="stylesheet">
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-datepicker.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/locales/bootstrap-datepicker.ru.js') }}" charset="UTF-8"></script>
<script>
$(function() {
    $('input.datepicker-control').datepicker({
        language: "ru",
        format: 'yyyy-mm-dd',
        autoclose: true,
        todayHighlight: true,
        forceParse: true
    }).mask("9999-99-99");
});
</script>
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="main">
      <h1 class="page-header">{% if is_create %}Добавление бронирования{% else %}Редактирование бронирования{% endif %}</h1>
      <div class="row">
        <div class="col-sm-6 col-md-6" id="period-form-container">
          <p class="bg-danger">Внимание! После сохранения бронирования, стоимость заказа будет изменена!</p>
          {% if form.errors %}
          <p class="bg-danger">{{ form.errors }}</p>
          {% endif %}
          <form role="form" method="post" action="{{ url_for('admin_booking_create', invoice_id=form.invoice_id.data) if is_create else url_for('admin_booking_edit', booking_id=booking.id) }}">
            <div class="form-group">
              <label for="InputTitle">Товар</label>
              {{ form.item_id(id="InputTitle", class="form-control", placeholder="Выберите товар", required="")|safe }}
              <!--<p class="help-block">{{ ', '.join(form.item_id.errors) }}</p>-->
            </div>
            <div class="form-group">
              <label for="InputStart">Начало периода</label>
              {{ form.start(id="InputStart", class="form-control datepicker-control", placeholder="Выберите дату", required="", value=form.start.data.strftime('%Y-%m-%d') if form.start.data else '')|safe }}
              <p class="help-block">{{ ', '.join(form.start.errors) }}</p>
            </div>
            <div class="form-group">
              <label for="InputEnd">Окончание периода</label>
              {{ form.end(id="InputEnd", class="form-control datepicker-control", placeholder="Выберите дату", required="", value=form.end.data.strftime('%Y-%m-%d') if form.end.data else '')|safe }}
              <p class="help-block">{{ ', '.join(form.end.errors) }}</p>
            </div>
            <input type="hidden" name="invoice_id" value="{{ form.invoice_id.data }}">
            <button type="submit" class="btn btn-success">Сохранить</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}