{% extends 'admin/layout.html' %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="main">
      <h1 class="page-header">Бронирования</h1>
      <div class="table-responsive">
        <!--<a href="{{ url_for('admin_booking_create') }}" class="btn btn-primary">Добавить</a>-->
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Товар</th>
              <th>Арендатор</th>
              <th>Заказ</th>
              <th>Период</th>
              <th>Член клуба trilife.ru</th>
              <th>Стоимость</th>
              <th>Оплачен</th>
              <th style="width: 100px"></th>
            </tr>
          </thead>
          <tbody>
          {% for item in items %}
            <tr>
              <td>{{ item.item.title }}<br/><small>Залог: {{ item.item.deposit }} euro</small><br/><small>Оценочная стоимость: {{ item.item.estimate }} euro</small></td>
              <td>{{ item.invoice.person_lastname or '' }} {{ item.invoice.person_firstname or '' }}<br><small>{{ item.invoice.person_email or '' }}</small><br><small>{{ item.invoice.person_phone or '' }}</small></td>
              <td>#{{ item.invoice.id }}<br/>{% if item.invoice.shipping_price %}доставка{% else %}самовывоз{% endif %}</td>
              <td>С {{ item.start.strftime('%Y-%m-%d') }} по {{ item.end.strftime('%Y-%m-%d') }}<br/>количество дней {{ item.days }}</td>
              <td>{% if item.invoice.is_trilife %}Да{% else %}Нет{% endif %}</td>
              <td>{% if item.invoice.is_trilife and item.is_discount %}{{ item.discount_price }}{% else %}{{item.price}}{% endif %} euro</td>
              <td>{% if item.invoice.is_payed %}<span class="glyphicon glyphicon-ok-sign green" aria-hidden="true"></span>{% else %}<span class="glyphicon glyphicon-time" aria-hidden="true"></span>{% endif %}</td>
              <td nowrap>
                  <a href="{{ url_for('admin_booking_edit', booking_id=item.id) }}" class="btn btn-primary">Редактировать</a>
                  <a data-href="{{ url_for('admin_booking_delete', booking_id=item.id) }}" data-toggle="modal" data-target="#confirm-delete" class="btn btn-danger">Удалить</a>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}