{% extends 'admin/layout.html' %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="main">
      <h1 class="page-header">Заказы</h1>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-danger" role="alert">{{ message }}</div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      <div class="row">
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control" name="text" placeholder="" value="{{ request.args.get('text', '') }}">
          </div>
          <button type="submit" class="btn btn-default">Найти</button>
          <a href="{{ url_for('admin_booking_list_csv') }}" class="btn btn-info">Экспорт</a>
        </form>
      </div>
      <div class="table-responsive">
        <a href="{{ url_for('admin_invoice_create') }}" class="btn btn-primary">Добавить</a>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Заказ</th>
              <th>Клиент</th>
              <th>Стоимость</th>
              <th>Бронирования</th>
              <th>Оплачен</th>
              <th>Собственник</th>
              <th style="width: 100px"></th>
            </tr>
          </thead>
          <tbody>
          {% for item in items|sort(attribute='id', reverse=True) %}
            <tr>
              <td>#{{ item.id }}<br/><small>{% if item.shipping_price %}доставка{% else %}самовывоз{% endif %}</small><br/>{{ item.created_at|datetime }}</td>
              <td>{{ item.person_lastname or '' }} {{ item.person_firstname or '' }}<br><small>{{ item.person_email or '' }}</small><br><small>{{ item.person_phone or '' }}</small></td>
              <td>{{item.price or 0}} euro</td>
              <td>
                {% for b in item.booking %}
                  <p><strong>{{ b.number }}</strong> <small>#для 1С {{ b.id }}</small> <small>Арт. {{ b.item.art }}</small> {{ b.item.title }} <small>{{ b.start|date }} &ndash; {{ b.end|date }}</small></p>
                {% endfor %}
              </td>
              <td>{% if item.is_payed %}<span class="glyphicon glyphicon-ok-sign green" aria-hidden="true"></span><br/>
                {% for b in item.booking %}
                <a target="_blank" href="{{ url_for('admin_booking_act', booking_id=b.id) }}"><nobr><span class="glyphicon glyphicon-file green" aria-hidden="true"></span>&nbsp;Акт&nbsp;{{ b.number }}</nobr></a><br/>
                {% endfor %}
                  {% else %}<span class="glyphicon glyphicon-time" aria-hidden="true"></span>{% endif %}</td>
              <td>{% if item.is_owner %}<span class="glyphicon glyphicon-ok-sign green" aria-hidden="true"></span>{% else %}<span class="glyphicon glyphicon-ban-circle red" aria-hidden="true"></span>{% endif %}</td>
              <td nowrap>
                  <a href="{{ url_for('admin_invoice_edit', invoice_id=item.id) }}" class="btn btn-primary">Редактировать</a>
                  <a data-href="{{ url_for('admin_invoice_delete', invoice_id=item.id) }}" data-toggle="modal" data-target="#confirm-delete" class="btn btn-danger">Удалить</a>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}