{% extends 'admin/layout.html' %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="main">
      <h1 class="page-header">{% if is_create %}Добавление заказа{% else %}Редактирование заказа{% endif %}</h1>
      <div class="row">
        <div class="col-sm-6 col-md-6" id="period-form-container">
          {% if not is_create %}
          <div class="form-group">
              <label>Заказ</label>
              <p>
                  #{{ item.id }} <small>{% if item.shipping_price %}доставка{% else %}самовывоз{% endif %}</small> &mdash; {{ item.price or 0}} euro<br/>
                  {% if item.is_trilife %}Скидка члена клуба trilife.ru{% else %}Без скидки{% endif %}
              </p>
          </div>
          {% endif %}
          <form role="form" method="post" action="{{ url_for('admin_invoice_create') if is_create else url_for('admin_invoice_edit', invoice_id=item.id) }}">
            <div class="form-group">
              <label for="InputPersonLastname">Фамилия</label>
              {{ form.person_lastname(id="InputPersonLastname", class="form-control") }}
              <p class="help-block">{{ ', '.join(form.person_lastname.errors) }}</p>
            </div>
            <div class="form-group">
              <label for="InputPersonFirstname">Имя</label>
              {{ form.person_firstname(id="InputPersonFirstname", class="form-control") }}
              <p class="help-block">{{ ', '.join(form.person_firstname.errors) }}</p>
            </div>
            <div class="form-group {% if form.person_email.errors %} has-error{% endif %}">
              <label for="InputPersonEmail">Email</label>
              {{ form.person_email(id="InputPersonEmail", class="form-control") }}
              <p class="help-block">{{ ', '.join(form.person_email.errors) }}</p>
            </div>
            <div class="form-group">
              <label for="InputPersonPhone">Телефон</label>
              {{ form.person_phone(id="InputPersonPhone", class="form-control") }}
              <p class="help-block">{{ ', '.join(form.person_phone.errors) }}</p>
            </div>
            <div class="checkbox">
                <label>
                  <input type="checkbox" id="InputIsOwner" name="is_owner" {% if form.is_owner.data %}checked{% endif %}> Собственник
                </label>
            </div>
            <div class="checkbox">
                <label>
                  <input type="checkbox" id="InputIsPayed" name="is_payed" {% if form.is_payed.data %}checked{% endif %}> Оплачен
                </label>
            </div>
            <div class="checkbox">
                <label>
                  <input type="checkbox" id="InputIsTrilife" name="is_trilife" {% if form.is_trilife.data %}checked{% endif %}> Скидка 50% для членов клуба trilife.ru
                </label>
            </div>
            <div class="checkbox">
                <label>
                  <input type="checkbox" id="InputIsDeposit" name="is_deposit" {% if form.is_deposit.data %}checked{% endif %}> Акт с залогом
                </label>
            </div>
            <div class="form-group">
              <label for="InputComments">Комментарий</label>
              {{ form.comments(id="InputComments", class="form-control", rows="2") }}
              <p class="help-block">{{ ', '.join(form.comments.errors) }}</p>
            </div>
            <button type="submit" class="btn btn-success">Сохранить</button>
          </form>
        </div>
      </div>
      {% if not is_create %}
      <br/>
      <h3 class="page-header">Товары</h3>
      <div class="table-responsive">
        <a href="{{ url_for('admin_booking_create', invoice_id=item.id) }}" class="btn btn-primary">Добавить</a>
        {% if item.booking %}
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Товар</th>
              <th>Период</th>
              <th>Стоимость</th>
              <th style="width: 100px"></th>
            </tr>
          </thead>
          <tbody>
          {% for booking in item.booking|sort(attribute='id') %}
            <tr>
              <td><strong>{{ booking.item.art }}</strong> {{ booking.item.title }}<br/><small>Залог: {{ booking.item.deposit }} euro</small><br/><small>Оценочная стоимость: {{ booking.item.estimate }} euro</small></td>
              <td>С {{ booking.start|date }} по {{ booking.end|date }}<br/>количество дней {{ booking.days }}</td>
              <td>{% if booking.price == booking.confirm_price %}{{ booking.confirm_price or booking.price}} euro{% else %}оплачено&nbsp;{{ booking.confirm_price }}<br/>новая&nbsp;стоимость&nbsp;{{ booking.price }}{% endif %}</td>
              <td nowrap>
                  <a href="{{ url_for('admin_booking_edit', booking_id=booking.id) }}" class="btn btn-primary">Редактировать</a>
                  <a data-href="{{ url_for('admin_booking_delete', booking_id=booking.id) }}" data-toggle="modal" data-target="#confirm-delete" class="btn btn-danger">Удалить</a>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
        {% endif %}
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}