<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">


    <title>Система управления</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/admin.css') }}" rel="stylesheet">
    {% block css %}{% endblock %}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

{% from "macros.html" import nav_link with context %}

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="{{ url_for('dashboard') }}">RentStation / Аренда спортинвентаря</a>
        </div>
        {% if current_username == 'admin' %}
        <div class="navbar-collapse collapse">
         <ul class="nav navbar-nav navbar-right">
          {{ nav_link('admin_stat', 'Статистика') }}
          {{ nav_link('admin_meet', 'Выдача и возврат') }}
          {{ nav_link('admin_invoice_list', 'Заказы') }}
          {{ nav_link('admin_bag_list', 'Список товаров') }}
          {{ nav_link('admin_address_list', 'Точки выдачи') }}
          {{ nav_link('admin_property_list', 'Характеристики') }}
         </ul>
        </div>
        {% endif %}
      </div>
    </div>

    {% block content %}{% endblock %}

    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="Delete" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    Удаление записи
                </div>
                <div class="modal-body">
                    Вы уверены?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                    <a href="#" class="btn btn-danger danger">Удалить</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="confirm-return" tabindex="-1" role="dialog" aria-labelledby="Delete" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    Возвращение инвентаря
                </div>
                <div class="modal-body">
                    Вы уверены?
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-success danger">Вернуть на склад</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.9.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.maskedinput.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <!--<script src="{{ url_for('static', filename='js/docs.min.js') }}"></script>-->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/ie10-viewport-bug-workaround.js') }}"></script>

    <script>
    $('#confirm-delete').on('show.bs.modal', function(e) {
        $(this).find('.danger').attr('href', $(e.relatedTarget).data('href'));
    });

    $('.booking-give').on('click', function(e) {
        event.preventDefault();
        var url = $(this).attr('href'),
            booking_id = $(this).attr("data-booking-id");
        $.get(url, function(data) {}).done(function( data ) {
            $('.booking-give-block[data-booking-id="'+booking_id+'"]').hide();
            $('.booking-return-block[data-booking-id="'+booking_id+'"]').show();
            $('.booking-act-block[data-booking-id="'+booking_id+'"]').show();
        }).fail(function() {
            alert( "Ошибка!" );
        })
    });

    $('#confirm-return').on('show.bs.modal', function(e) {
        var url = $(e.relatedTarget).data('href');
        var booking_id = $(e.relatedTarget).attr("data-booking-id");

        $(this).find('.danger').on('click', function(e) {
            event.preventDefault();

            $.get(url, function(data) {}).done(function( data ) {
                $('.booking-give-block[data-booking-id="'+booking_id+'"]').hide();
                $('.booking-return-block[data-booking-id="'+booking_id+'"]').hide();
                $('.booking-act-block[data-booking-id="'+booking_id+'"]').show();
                $('#confirm-return').modal('hide');
            }).fail(function() {
                alert( "Ошибка!" );
            })
        });
    });

    </script>
    {% block js %}{% endblock %}
  </body>
</html>
