{% extends 'admin/layout.html' %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="main">
      <h1 class="page-header">Выдача и возврат</h1>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-danger" role="alert">{{ message }}</div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Дата</th>
              <th>Выдача</th>
              <th>Возврат</th>
            </tr>
          </thead>
          <tbody>
          {% for item in items|reverse %}
            <tr {% if item['period']|date == today|date %} style="background-color: lightyellow" {% endif %}>
              <td><strong>{{ item['period']|date }}</strong></td>
              <td>
                {% for booking in item['give'] %}
                <p>
                Заказ #{{ booking.invoice.id }} <a target="_blank" href="{{ url_for('admin_booking_act', booking_id=booking.id) }}"><nobr><span class="glyphicon glyphicon-file green" aria-hidden="true"></span>&nbsp;Акт&nbsp;{{ booking.number }}</nobr></a><br/>
                {{ booking.item.title }} (Артикул {{ booking.item.art }})<br/>
                {{ booking.invoice.person_lastname or '' }} {{ booking.invoice.person_firstname or '' }}<br><small>{{ booking.invoice.person_email or '' }}</small><br><small>{{ booking.invoice.person_phone or '' }}</small><br/>
                {% if booking.invoice.shipping_price %}<small style="color:red">нужна доставка</small>{% else %}<small>самовывоз</small>{% endif %}
                </p>
                {% endfor %}
              </td>
              <td>
                {% for booking in item['return'] %}
                <p>
                Заказ #{{ booking.invoice.id }} <a target="_blank" href="{{ url_for('admin_booking_act', booking_id=booking.id) }}"><nobr><span class="glyphicon glyphicon-file green" aria-hidden="true"></span>&nbsp;Акт&nbsp;{{ booking.number }}</nobr></a><br/>
                {{ booking.item.title }} (Артикул {{ booking.item.art }})<br/>
                {{ booking.invoice.person_lastname or '' }} {{ booking.invoice.person_firstname or '' }}<br><small>{{ booking.invoice.person_email or '' }}</small><br><small>{{ booking.invoice.person_phone or '' }}</small><br/>
                {% if booking.invoice.shipping_price %}<small style="color:red">нужна доставка</small>{% else %}<small>самовывоз</small>{% endif %}
                </p>
                {% endfor %}
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
