{% extends 'admin/layout.html' %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="main">
      <h1 class="page-header">{% if is_create %}Добавление опции{% else %}Редактирование опции{% endif %}</h1>
      <div class="row">
        <div class="col-sm-6 col-md-6" id="period-form-container">
          <form role="form" method="post" action="{{ url_for('admin_option_create', property_id=property_id) if is_create else url_for('admin_option_edit', property_id=property_id, option_id=item.id) }}">
            <div class="form-group">
              <label for="InputTitle">Название</label>
              {{ form.title(id="InputTitle", class="form-control") }}
              <p class="help-block">{{ ', '.join(form.title.errors) }}</p>
            </div>
            <button type="submit" class="btn btn-success">Сохранить</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}