{% extends 'admin/layout.html' %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="main">
      <h1 class="page-header">{% if is_create %}Добавление характеристики{% else %}Редактирование характеристики{% endif %}</h1>
      <div class="row">
        <div class="col-sm-6 col-md-6" id="period-form-container">
          <form role="form" method="post" action="{{ url_for('admin_property_create') if is_create else url_for('admin_property_edit', property_id=item.id) }}">
            <div class="form-group">
              <label for="InputTitle">Название</label>
              {{ form.title(id="InputTitle", class="form-control") }}
              <p class="help-block">{{ ', '.join(form.title.errors) }}</p>
            </div>
            <button type="submit" class="btn btn-success">Сохранить</button>
          </form>
        </div>
      </div>
      {% if not is_create %}
      <br/>
      <h3 class="page-header">Опции</h3>
      <div class="table-responsive">
        <a href="{{ url_for('admin_option_create', property_id=item.id) }}" class="btn btn-primary">Добавить</a>
        {% if item.option %}
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Название</th>
              <th style="width: 100px"></th>
            </tr>
          </thead>
          <tbody>
          {% for option in item.option|sort(attribute='id') %}
            <tr>
              <td>{{ option.id }}</td>
              <td>{{ option.title }}</td>
              <td nowrap>
                  <a href="{{ url_for('admin_option_edit', property_id=item.id, option_id=option.id) }}" class="btn btn-primary">Редактировать</a>
                  <a data-href="{{ url_for('admin_option_delete', property_id=item.id, option_id=option.id) }}" data-toggle="modal" data-target="#confirm-delete" class="btn btn-danger">Удалить</a>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
        {% endif %}
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}