{% extends 'admin/layout.html' %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="main">
      <h1 class="page-header">Статистика</h1>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-danger" role="alert">{{ message }}</div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Период</th>
              <th>Количество заказов</th>
              <th>Общая стоимость заказов</th>
            </tr>
          </thead>
          <tbody>
          {% for item in items %}
            <tr>
              <td><strong>{{ item['period']|month }}</strong></td>
              <td>{{ item['count_invoice'] }}</td>
              <td>{{ item['sum_invoice'] }} euro</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}