{% extends 'layout.html' %}

{% block content %}
<div class="container vcard">
    <h1 class="fn org">{{ addr.title }}</h1>
    <p class="adr">
        <span class="street-address">{{ addr.address|nl2br }}</span>
    </p>
    {% if addr.ya_sid %}
    <div id="map-container">
        <script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid={{ addr.ya_sid }}&height=500"></script>
    </div>
    {% endif %}
</div>
{% endblock %}