{% extends 'layout.html' %}

{% block content %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.5&appId=995786173812349";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


{#<div class="container">#}
{#    <div class="row">#}
{#        <div class="col-md-10 col-md-offset-1 spacer">#}
{#            <a class="lead" href="{{ url_for('articles_nechego_nadet') }}">Нечего надеть!</a>#}
{#            <p><small>4 Января 2016</small></p>#}
{#            <p class="article">Мы&nbsp;сделали небольшой обзор производителей велоформы для вас. Надеемся, он&nbsp;будет полезным и&nbsp;к&nbsp;новому сезону вы&nbsp;подойдете нарядными!</p>#}
{#            <p class="article">Мы&nbsp;не&nbsp;будем писать о&nbsp;тех брендах, которые можно купить в&nbsp;России, вы&nbsp;их&nbsp;и&nbsp;так все знаете&nbsp;&mdash; их&nbsp;не&nbsp;много.</p>#}
{#            <img src="{{ url_for('static', filename='img/articles/art1.jpg') }}">#}
{##}
{#            <p class="spacer">#}
{#                <a href="{{ url_for('articles_nechego_nadet') }}" class="btn btn-secondary" target="_blank">Читать статью</a>#}
{#            </p>#}
{#        </div>#}
{#    </div>#}

<div class="container spacer">
    <div class="row">
    </div>
</div>
{% endblock %}