{% extends 'layout.html' %}

{% block css %}
<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/datepicker3.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">
  <div class="jumbotron">
    <h1>Ваш велочемодан<br /> на время гонки</h1>
    <p class="lead">Уважаемые друзья велосипедисты и триатлеты! Мы создали для вас сервис по аренде велочемоданов в Москве. Надеемся, он поможет вам не только сэкономить деньги, но и путешествовать с комфортом.</p>
    <p class="lead">Пожалуйста, выберите диапозон дат, в которые вы планируете свое путешествие</p>

    <form class="form-inline" role="form" method="get" action="{{ url_for('bags') }}">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></div>
          <input class="form-control input-lg datepicker-control" type="text" placeholder="Начало периода" required="" name="start">
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></div>
          <input class="form-control input-lg datepicker-control" type="text" placeholder="Окончание периода" required="" name="end">
        </div>
      </div>
      <button type="submit" class="btn btn-primary btn-lg">Найти</button>
    </form>

  </div>
</div>
{% endblock %}
