{% extends 'layout.html' %}

{% block js %}
<script>
$('#confirm-delete').on('show.bs.modal', function(e) {
    $(this).find('.danger').attr('href', $(e.relatedTarget).data('href'));
});
</script>
{% endblock %}

{% block content %}
<div class="container">

<h1>Cart</h1>
{% if invoice and invoice.booking %}
<p class="text-danger">Оформите заказ и оплатите его. Если заказ не был оплачен в течении суток после его оформления, он будет автоматически удален.</p>
  <div class="row">
    <div class="col-sm-12 col-md-12">
        <div class="row panel-heading">
            <div class="col-sm-4 col-md-4"><b>Описание товара</b></div>
            <div class="col-sm-4 col-md-4"><b>Характеристики</b></div>
            <div class="col-sm-4 col-md-4"><b>Цена</b></div>
        </div>
        {% for booking in invoice.booking %}
        <div class="row">
            <div class="col-sm-4 col-md-4">
                <img class="item-img-cart" src="{{ url_for('static', filename=booking.item.image_path) }}">
                <p class="item-title">{{ booking.item.title }}</p>
                <p><small>Артикул {{ booking.item.art }}</small></p>
                <p class="item-description">{{ booking.item.description_short|nl2br }}</p>
            </div>
            <div class="col-sm-4 col-md-4">
                <p class="item-price">{{ booking.item.price }} euro per day</p>
                <p>{{ booking.start|date }} &ndash; {{ booking.end|date }}</p>
                <p>Количество дней {{ booking.days }}</p>
            </div>
            <div class="col-sm-4 col-md-4">
                <p class="item-price">{{ booking.price }} euro</p>
                <a data-href="{{ url_for('book_delete', booking_id=booking.id) }}" data-toggle="modal" data-target="#confirm-delete" class="btn btn-danger btn-xs">Удалить</a>
            </div>
        </div>
        {% endfor %}
        <hr>
        <div class="row">
            <div class="col-sm-4 col-md-4"></div>
            <div class="col-sm-4 col-md-4">Стоимость аренды (без учета доставки)</div>
            <div class="col-sm-4 col-md-4">
                <div class="item-price">{{ invoice.booking|sum(attribute='price') }} euro</div>
            </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12">
    <form role="form" method="post">
{#      <div class="checkbox">#}
{#        <label>#}
{#          <input type="checkbox" id="is_trilife" name="is_trilife" {% if form.is_trilife.data %}checked{% endif %}>я являюсь членом клуба <a target="_blank" href="http://trilife.ru">Trilife.ru</a>#}
{#          <p class="help-block">Необходимо будет предъявить карту члена клуба</p>#}
{#        </label>#}
{#      </div>#}
      <div class="row">
      <div class="form-group col-md-4">
        <label for="InputLastname">Фамилия</label>
        <input type="text" class="form-control" id="InputLastname" name="person_lastname" placeholder="" required="" value="{{ form.person_lastname.data|default('', True) }}">
      </div>
      </div>
      <div class="row">
      <div class="form-group col-md-4">
        <label for="InputFirstname">Имя</label>
        <input type="text" class="form-control" id="InputFirstname" name="person_firstname" placeholder="" required="" value="{{ form.person_firstname.data|default('', True) }}">
      </div>
      </div>
      <div class="row">
      <div class="form-group col-md-4 {% if form.person_email.errors %} has-error{% endif %}">
        <label class="control-label" for="InputEmail">Email</label>
        <input type="text" class="form-control" id="InputEmail" name="person_email" placeholder="" required="" value="{{ form.person_email.data|default('', True) }}">
        <p class="help-block">{{ ', '.join(form.person_email.errors) }}</p>
      </div>
      </div>
      <div class="row">
      <div class="form-group col-md-4">
        <label for="InputPhone">Телефон для связи</label>
        <input type="text" class="form-control phone_number" id="InputPhone" name="person_phone" placeholder="" required="" value="{{ form.person_phone.data|default('', True) }}">
      </div>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="shipping_price" id="optionsRadios1" value="0" {% if not form.shipping_price.data %}checked{% endif %}>
          заберу и верну товар сам
        </label>
        <p class="help-block">
            {% if invoice.address_list|length == 1 %}
                {% for address, item_list in invoice.address_list.iteritems() %}
                    {{ address|nl2br }}
                {% endfor %}
            {% else %}
                {% for address, item_list in invoice.address_list.iteritems() %}
                    {{ item_list|join(',') }}<br/>{{ address|nl2br }}<br/>
                {% endfor %}
            {% endif %}
        </p>
      </div>
      <div class="row">
      <div class="form-group col-md-4">
      <p>Нажимая на кнопку, я принимаю <a target="_blank" href="{{ url_for('static', filename="offer.pdf") }}">условия аренды</a>.
      </p>
      </div>
      </div>
      <button type="submit" class="btn btn-primary">Оформить заказ</button>
    </form>
    </div>
  </div>
  {% else %}
  <div class="row">
    <div class="col-sm-12 col-md-12">
    <p class="lead">Cart is empty</p>
    </div>
  </div>
  {% endif %}

<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="Удалить" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                Вы уверены?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                <a href="#" class="btn btn-danger danger">Удалить</a>
            </div>
        </div>
    </div>
</div>

</div>
{% endblock %}