{% extends 'layout.html' %}

{% block content %}
<div class="container">

  <h1>Оплата заказа #{{ invoice.id }}</h1>
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="row panel-heading">
        <div class="col-sm-4 col-md-4"><b>Контактное лицо</b></div>
        <div class="col-sm-4 col-md-4"><b>Заказ</b></div>
        <div class="col-sm-4 col-md-4"><b>Цена</b></div>
      </div>
      <div class="row">
        <div class="col-sm-4 col-md-4">
          <p>{{ invoice.person_lastname }} {{ invoice.person_firstname }}</p>
          <p class="small">{{ invoice.person_email }}</p>
          <p class="small">{{ invoice.person_phone }}</p>
        </div>
        <div class="col-sm-4 col-md-4">
        {% for b in invoice.booking %}
          <p>{{ b.item.title }} <small>(Артикул {{b.item.art}})</small> <small>{{ b.start|date }} &ndash; {{ b.end|date }}</small></p>
        {% endfor %}
        </div>
        <div class="col-sm-4 col-md-4">
          <p class="item-price">{{ invoice.booking|sum(attribute='price') }} euro</p>
          <p class="item-price">К оплате {{ invoice.price }} euro</p>
          <form action="{{ config.ROBOKASSA_FORM_TARGET }}" method="POST">
            {% for field in form %}
            <p>{{ field }}</p>
            {% endfor %}
            <input type="hidden" name="SignatureValue" value="{{ signature }}">
            <p><input type="submit" class="btn btn-primary" value="Оплатить"></p>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock %}