  <div id="map-outer" class="col-md-12">
    <div id="address" class="col-md-4" style="height: 370px !important;">
        <address>
        <strong>магазин "Велопробег"</strong><br>
            г. Москва,<br>
            м. Петровско-Разумовская,<br>
            Дмитровское шоссе,<br>
            дом 46, корпус 1<br>
            <abbr>Телефон:</abbr> 8 (495) 540-58-57
        </address>
        <strong>Время работы магазина:</strong><br/>
        Пн-Пт: 11.00-21.00<br/>
        Сб: 10.00-21.00<br/>
        Вс: 10.00-18.00
    </div>
    <div class="col-md-8">
      <div id="map-container">
        <script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=dmyMt8dfXiHcGt5HDAYNRfqNvf_cl6_m&height=360"></script>
      </div>
    </div>
  </div><!-- /map-outer -->
  <div id="map-outer" class="col-md-12">
    <div id="address" class="col-md-4" style="height: 370px !important;">
        <address>
        <strong>магазин "ТриСпорт"</strong><br>
            г. Москва,<br>
            Земляной Вал д.38-40<br>
            <abbr>Телефон:</abbr> 8 (800) 775-07-23
        </address>
        <strong>Время работы магазина:</strong><br/>
        Пн-Вс с 10.00 — 21.00
    </div>
    <div class="col-md-8">
      <div id="map-container">
        <script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=xNiDbr7l07FXv4SjEVP0coDOTkwKZqbl&height=360"></script>
      </div>
    </div>
  </div><!-- /map-outer -->
  <div id="map-outer" class="col-md-12">
    <div id="address" class="col-md-4" style="height: 370px !important;">
        <address>
        <strong>велотрек в Крылатском</strong><br>
            г. Москва,<br>
            Крылатская д. 10<br>
            <abbr>Телефон:</abbr> 8 (495) 665-83-56
        </address>
        <strong>Время работы:</strong><br/>
        Пн-Вс с 10.00 — 20.00
    </div>
    <div class="col-md-8">
      <div id="map-container">
        <script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=DTJO6zzzVfd2V2TiLDHIp4GV9Lfsv1k7&height=360"></script>
      </div>
    </div>
  </div><!-- /map-outer -->
  <div id="map-outer" class="col-md-12">
    <div id="address" class="col-md-4" style="height: 370px !important;">
        <address>
        <strong>магазин "TRIATLETA SPB"</strong><br>
            г. Санкт-Петербург,<br>
            ул.Савушкина, д.143, к.1<br>
            вход со стороны ул. Туристской, д.10, к.1<br>
            <abbr>Телефон:</abbr> +7 (911) 170-36-35
        </address>
        <strong>Время работы магазина:</strong><br/>
        Пн-Вс с 11.00 — 21.00
    </div>
    <div class="col-md-8">
      <div id="map-container">
        <script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=F3SRPWOL7MwAIAHSG6aIUVJfDpyTvFBc&height=360"></script>
      </div>
    </div>
  </div><!-- /map-outer -->
