{% extends 'layout.html' %}

{% block content %}

<div class="container">

<h1>Contact us</h1>
<div class="row">
    <div class="col-sm-12 col-md-12">
    {% if is_sent %}
    <p>Your message has been sent.</p>
    {% else %}
    <form role="form" method="post" enctype="multipart/form-data">
      <div class="row">
      <div class="form-group col-md-4">
        <label for="InputName">Name</label>
        <input type="text" class="form-control" id="InputName" name="person_name" placeholder="" required="" value="{{ form.person_name.data|default('', True) }}">
      </div>
      </div>
      <div class="row">
      <div class="form-group col-md-4">
        <label for="InputEmail">Email</label>
        <input type="text" class="form-control" id="InputEmail" name="person_email" placeholder="" required="" value="{{ form.person_email.data|default('', True) }}">
        <p class="help-block">{{ ', '.join(form.person_email.errors) }}</p>
      </div>
      </div>
      <div class="row">
      <div class="form-group col-md-4">
        <label for="InputPhone">Mobile phone</label>
        <input type="text" class="form-control phone_number" id="InputPhone" name="person_phone" placeholder="" required="" value="{{ form.person_phone.data|default('', True) }}">
      </div>
      </div>
      <div class="row">
      <div class="form-group col-md-4">
          <label for="InputDescription">Message</label>
          {{ form.description(id="InputDescription", class="form-control", rows="6") }}
      </div>
      </div>
      <div class="row">
      <div class="form-group col-md-4">
        <label>Image or file</label>
              {{ form.image(id="InputImage", type="file")|safe }}
              <p class="help-block">Size limit 2 Mb</p>
      </div>
      </div>
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
    {% endif %}
    </div>
</div>

</div>
{% endblock %}