{% extends 'layout.html' %}

{% block content %}
<div class="container">

  <div class="jumbotron">
    <h1>Ошибка</h1>
    <p class="lead">При оплате произошла ошибка. Попробуйте еще раз или напиши нам о проблеме.</p>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-12 text-center">
      <a class="btn btn-success" href="{{ url_for('index') }}">Заказать еще</a>
    </div>
  </div>

</div>
{% endblock %}