{% extends 'layout.html' %}

{% block content %}
<div class="container">

  <h1>Оплата заказа #{{ invoice.id }}</h1>
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="row panel-heading">
        <div class="col-sm-4 col-md-4"><b>Контактное лицо</b></div>
        <div class="col-sm-4 col-md-4"><b>Заказ</b></div>
        <div class="col-sm-4 col-md-4"><b>Цена</b></div>
      </div>
      <div class="row">
        <div class="col-sm-4 col-md-4">
          <p>{{ invoice.person_lastname }} {{ invoice.person_firstname }}</p>
          <p class="small">{{ invoice.person_email }}</p>
          <p class="small">{{ invoice.person_phone }}</p>
        </div>
        <div class="col-sm-4 col-md-4">
        {% for b in invoice.booking %}
          <p>{{ b.item.title }} <small>(Артикул {{b.item.art}})</small> <small>{{ b.start|date }} &ndash; {{ b.end|date }}</small></p>
        {% endfor %}
        </div>
        <div class="col-sm-4 col-md-4">
          <p class="item-price">{{ invoice.booking|sum(attribute='price') }} euro</p>
          {% if invoice.shipping_price %}
          <p>Доставка в пределах МКАД {{ invoice.shipping_price }} euro</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <h1>К оплате {{ invoice.price }} euro</h1>
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <form id="order_finish_form_inline" data-form="order_finish" data-form-selector="orff" action="{{ config.YANDEXKASSA_FORM_TARGET }}" method="post">
        <p><b>Выберите способ оплаты</b></p>
        <div class="radio">
          <label>
            <input type="radio" name="paymentType" id="paymentType" value="AC" checked>
            Банковская карта
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="paymentType" id="paymentType" value="GP">
            Оплата наличными через кассы и терминалы<br/>
            <small>Оплата заказа производится наличными через терминалы Элекснет. Пожалуйста, уточните, есть ли в Вашем городе такие терминалы.</small>
          </label>
        </div>
        <p><b>Электронные деньги</b></p>
        <div class="radio">
          <label>
            <input type="radio" name="paymentType" id="paymentType" value="SB">
            Сбербанк Онлайн / оплата по SMS
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="paymentType" id="paymentType" value="PC">
            Яндекс.Деньги
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="paymentType" id="paymentType" value="WM">
            WebMoney
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="paymentType" id="paymentType" value="MC">
            Счет мобильного телефона
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="paymentType" id="paymentType" value="AB">
            Альфа-Клик
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="paymentType" id="paymentType" value="AB">
            MasterPass
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="paymentType" id="paymentType" value="PB">
            Промсвязьбанк
          </label>
        </div>

        {% for field in form %}
        <p>{{ field }}</p>
        {% endfor %}
        <input type="hidden" name="SignatureValue" value="{{ signature }}">
        <p><input type="submit" class="btn btn-primary" value="Оплатить"></p>
      </form>
    </div>
  </div>

</div>
{% endblock %}