<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% block description %}Rental of sports equipment. Триатлон, велоспорт, велочемоданы, велотренажеры, сноуборды, беговые и горные лыжи.{% endblock %}">
    <meta name="keywords" content="аренда, прокат, спортивное оборудование, спортивный инвентарь, детское спортивное снаряжение, триатлон, велочемодан, шоссейный велосипед, трековый велосипед, ТТ велосипед, гидрокостюм, велостанок, велотренажер, сноуборд, горные лыжи, беговые лыжи, багажник на крышу">

    <meta property="og:locale" content="en" />
    <meta property="fb:app_id" content="{{ config.FACEBOOK_APP_ID }}" />
    <meta property="og:title" content="{% block og_title %}Аренда спортивного инвентаря{% endblock %}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{% block og_url %}https://rentstation.net{% endblock %}"/>
    <meta property="og:image" content="{% block og_image %}https://rentstation.net{{ url_for('static', filename='img/image.jpg') }}{% endblock %}" />
    <meta property="og:site_name" content="Rentstation"/>
    <meta property="og:description" content="{% block og_description %}Rental of sports equipment. Триатлон, велоспорт, велочемоданы, велотренажеры, сноуборды, беговые и горные лыжи.{% endblock %}"/>

    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

    <title>{% block title %}Аренда спортивного инвентаря{% endblock %}</title>


    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
{% block css %}
<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/datepicker3.css') }}" rel="stylesheet">
{% endblock %}

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/justified-nav.css') }}?v8" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

    <![endif]-->
<!--Start of Zopim Live Chat Script-->
<script type="text/javascript">
window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
_.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
$.src="//v2.zopim.com/?479vWtZErSUztE9yDFuBs2hcTNiV4LLb";z.t=+new Date;$.
type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
</script>
<!--End of Zopim Live Chat Script-->
  </head>

  <body style="padding-top: 0;">
    {% if not config.LOCAL %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-75039206-1', 'auto');
      ga('send', 'pageview');

    </script>
<!-- Yandex.Metrika counter --> <script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter36013760 = new Ya.Metrika({ id:36013760, clickmap:true, trackLinks:true, accurateTrackBounce:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/36013760" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=995786173812349";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

    {% endif %}
    <nav class="navbar" style="min-height: 38px; background-color: #333333; top: 0; border-width: 0 0 1px; border-radius: 0; padding-top: 0; margin-top: 0; padding-bottom: 0; margin-bottom: 0">
      <div class="container-fluid" style="min-height: 38px; padding-top: 2px; margin: 0;">
        <div class="navbar-header">
          <button class="btn btn-secondary navbar-toggle" type="button" id="dropdownMenu0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="float: left !important; margin-left: 10px; font-size: 11px">
            {{ session.city_title or 'Countries' }}
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu0">
            <li><a href="{{ url_for('set_city', city_id=1) }}">Spain</a></li>
            <li><a href="{{ url_for('set_city', city_id=2) }}">United Arab Emirates</a></li>
            <li><a href="{{ url_for('set_city', city_id=3) }}">Russia</a></li>
          </ul>

          <div class="nav navbar-nav navbar-toggle" style="padding-left: 20px; color: #FFFFFF; font-size: 11px; height: 34px">
            <a class="href-secondary" href="{{ url_for('cart') }}"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Cart</a> <span class="cart_container" style="padding-left: 5px"></span>
{#            <a class="href-secondary" style="padding-left: 20px;" href="#">Вход</a>#}
            <a class="href-secondary" href="tel:+74956658356" style="padding-left: 20px;">+7 495 665-83-56</a>
          </div>
        </div>

          <div class="navbar-collapse collapse" style="padding: 0">
            <div class="nav navbar-nav dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                {{ session.city_title or 'Countries' }}
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="{{ url_for('set_city', city_id=1) }}">Spain</a></li>
                <li><a href="{{ url_for('set_city', city_id=2) }}">United Arab Emirates</a></li>
                <li><a href="{{ url_for('set_city', city_id=3) }}">Russia</a></li>
              </ul>
            </div>

            <div class="nav navbar-nav vcenter" style="padding-left: 10px; color: #FFFFFF; font-size: 14px; height: 34px">
                <a class="href-secondary" style="padding-left: 10px" href="{{ url_for('address') }}" >Locations</a>
                <a class="href-secondary" style="padding-left: 20px" href="{{ url_for('contact') }}">Contact us</a>
                <a class="href-secondary" style="padding-left: 20px" href="{{ url_for('articles') }}" >Blog</a>
                <a class="href-secondary" style="padding-left: 20px" href="{{ url_for('cart') }}"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Cart</a> <span class="cart_container" style="padding-left: 5px"></span>
                <a class="href-secondary" style="padding-left: 20px" href="tel:+74956658356">+7 495 665-83-56</a>
            </div>

            <div class="nav navbar-nav navbar-right vcenter" style="padding-left: 10px; padding-right: 10px; color: #FFFFFF; font-size: 14px; height: 34px">
              {% if not session.logged_in %}
                <a class="btn btn-secondary"  href="{{ url_for('facebook_login') }}">Login</a>
              {% else %}
                <a class="href-secondary" href="{{ url_for('profile') }}" style="padding-right: 10px"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ session.user_name }}</a> <a class="btn btn-secondary" href="{{ url_for('logout') }}">Выход</a>
              {% endif %}
            </div>

          </div>
      </div>
    </nav>

    <div class="row spacer" {% if request.endpoint not in ['index', 'rent_top', 'rent_new'] %}style="border: 0 solid #EDEDED;border-bottom-width: 1px;"{% endif %}>

        <div class="container nav-container">

            <nav class="navbar navbar-black navbar-static" role="navigation">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
                        <div class="button-hamburger">
                           <span class="icon-bar"></span>
                           <span class="icon-bar"></span>
                           <span class="icon-bar"></span>
                        </div>
                    </button>
                    <a class="navbar-brand" href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='img/logo.png') }}" style="height: 20px; margin: 0; padding: 0"></a>
                </div>

            </nav>

        </div>

    </div>

    {% if request.endpoint in ['index', 'rent_top', 'rent_new'] %}
    {% include 'index_include.html' %}
    {% endif %}
    {% block content %}{% endblock %}

    <div class="container">

{% block modal %}
<div class="modal fade item-modal" id="itemModal" tabindex="-1" role="dialog" aria-labelledby="itemModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Booking</h4>
      </div>
      <form id="bookingForm" role="form" method="POST" action="{{ url_for('book') }}">
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-6 col-md-6">
              <img class="item-img" src="">
            </div>
            <div class="col-sm-6 col-md-6">
              <p class="item-title"></p>
              <p class="item-id"></p>
              <p class="item-price"></p>
              <p class="item-min-period"></p>
              <p class="item-deposit"></p>
              <div class="item-booking"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-12">
              <div class="form-group date-period">
                <p class="help-block" id="item-errors"></p>
                <label class="control-label" for="InputStart">From</label>
                <div class="input-group date">
                  <div class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></div>
                  <input id="InputStart" class="form-control" type="text" required="" name="start" value="">
                </div>
              </div>
              <div class="form-group date-period">
                <label class="control-label" for="InputEnd">Return</label>
                <div class="input-group date">
                  <div class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></div>
                  <input id="InputEnd" class="form-control" type="text" required="" name="end" value="">
                </div>
              </div>
              <input type="hidden" name="item_id" value="">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <input type="submit" class="btn btn-primary" value="Book"/>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

      <!-- Site footer -->
      <div class="footer">
        <p>&copy; Rentstation 2016</p>
      </div>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{ url_for('static', filename='js/ie10-viewport-bug-workaround.js') }}"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.9.1.min.js') }}"
        xmlns="http://www.w3.org/1999/html"></script>
    <script type=text/javascript>
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <script type=text/javascript>
      $(document).ready(function() {
          $.getJSON($SCRIPT_ROOT + '/cart/info', function( data ) {
            if (data.booking.length) {
                $('.cart_container').html(" <span class=\"label label-primary\">" + data.booking.length + "</span>");
            }
          });
      });
    </script>
    <script type="application/ld+json">
    {
      "@context" : "http://schema.org",
      "@type" : "Organization",
      "url" : "https://rentstation.net",
      "contactPoint" : [{
        "@type" : "ContactPoint",
        "telephone" : "+7 495 665-83-56",
        "contactType" : "customer service"
      }]
    }
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.maskedinput.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-datepicker.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/locales/bootstrap-datepicker.ru.js') }}" charset="UTF-8"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}" charset="UTF-8"></script>
    {% block js %}{% endblock %}
  </body>
</html>
