{% extends 'layout.html' %}

{% block title %}Нечего надеть! (часть 2) | rentstation.ru{% endblock %}
{% block description %}Представляем вам вторую часть обзора производителей велоодежды со всего света, которых не купить в России.{% endblock %}
{% block og_title %}Нечего надеть! (часть 2) | rentstation.ru{% endblock %}
{% block og_description %}Представляем вам вторую часть обзора производителей велоодежды со всего света, которых не купить в России.{% endblock %}
{% block og_url %}https://rentstation.ru{{ url_for('articles_nechego_nadet2') }}{% endblock %}
{% block og_image %}https://rentstation.ru{{ url_for('static', filename='img/articles/art2_11.jpg') }}{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 spacer">
            <h1>Нечего надеть! (часть 2)</h1>
            <p><small>18 Января 2016</small></p>
            <div class="fb-like" data-href="https://rentstation.ru{{ url_for('articles_nechego_nadet2') }}" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
            <p class="article">Представляем вам вторую часть обзора производителей велоодежды со&nbsp;всего света, которых не&nbsp;купить в&nbsp;России. Надеемся, вы&nbsp;найдете себе одежду по&nbsp;душе!</p>
            <img style="width: 100%;" src="{{ url_for('static', filename='img/articles/art2_1.jpg') }}">
            <p class="article spacer"><a href="http://www.cadencecollection.com" target="_blank">http://www.cadencecollection.com</a>&nbsp;&mdash; США, Калифорния, немного хулиганистые. От&nbsp;джерси до&nbsp;бутылочек. Есть лайфстайл. Цена джерси примерно 100&nbsp;USD.</p>
            <p class="article"><a href="http://www.laclassica.com" target="_blank">http://www.laclassica.com</a>&nbsp;&mdash; Италия, есть отдельная винтаж коллекция. Спокойные цвета. Цена джерси примерно 150&nbsp;EUR.</p>

            <p class="article"><a href="http://muscleskinsuit.com" target="_blank">http://muscleskinsuit.com</a>&nbsp;&mdash; Польша. Изначально созданный ради забавы костюм в&nbsp;виде оголенных мышц обрел популярность среди райдеров и&nbsp;был запущен в&nbsp;серию. Стоимость полного костюма примерно 180$.</p>
            <p class="article"><a href="http://www.soasracing.com" target="_blank">http://www.soasracing.com</a>&nbsp;&mdash; США, исключительно женская марка, производящая широкую линейку одежды для циклических видов спорта. Цена джерси&nbsp;&mdash; 120$</p>
            <p class="article"><a href="http://www.twomonkeyscycling.com.au" target="_blank">http://www.twomonkeyscycling.com.au</a>&nbsp;&mdash; Австралия, Небольшая компания, которая выросла из&nbsp;веломагазина и&nbsp;стала производить свою марку одежды. Цена джерси 120$</p>
            <p class="article"><a href="http://www.ornotbike.com" target="_blank">http://www.ornotbike.com</a>&nbsp;&mdash; США, мужские и&nbsp;женские коллекции, есть неплохой набор носков и&nbsp;ветровок. Интересные цветовые решения. Стоимость джерси&nbsp;&mdash; 125$</p>
            <p class="article"><a href="http://www.cuore.ch" target="_blank">http://www.cuore.ch</a>&nbsp;&mdash; Швейцария, создали бренд IMCYCLING. Есть возможность заказать командные комплекты. Цены начинаются от&nbsp;40$ за&nbsp;джерси.</p>
            <p class="article"><a href="http://arrueda.tictail.com" target="_blank">http://arrueda.tictail.com</a>&nbsp;&mdash; тот самый случай, когда продукт активно продвигается в&nbsp;интернете и&nbsp;выглядит отлично, но&nbsp;купить никак нельзя. Потому что хипстеры.</p>
            <p class="article"><a href="https://www.twinsix.com" target="_blank">https://www.twinsix.com</a>&nbsp;&mdash; две шестерки, крутой бренд, крутые ребята, крутой продукт. Делают и&nbsp;велосипеды и&nbsp;одежду. Цены на&nbsp;джерси от&nbsp;80$. Куча расцветок и&nbsp;вариантов.</p>
            <p class="article"><a href="http://fondo.com.au" target="_blank">http://fondo.com.au</a>&nbsp;&mdash; премиальная женская велоформа из&nbsp;Австралии. Комплект 330$. Выбор так себе, честно говоря.</p>
            <p class="article"><a href="http://babici.cc" target="_blank">http://babici.cc</a>&nbsp;&mdash; Австралия. Очень яркая и&nbsp;качественная велоодежда. Такой бренд мог родиться в&nbsp;Италии, но... Аэро от&nbsp;130$.</p>
            <p class="article"><a href="https://isadoreapparel.com" target="_blank">https://isadoreapparel.com</a>&nbsp;&mdash; AГОНЬ! От&nbsp;150$.</p>
            <p class="article"><a href="http://admontem.cc" target="_blank">http://admontem.cc</a>&nbsp;&mdash; Австралия. Качественные материалы. Гармоничные цвета. ОТ&nbsp;80$ за&nbsp;джерси!</p>

            <p class="article">Про остальные бренды напишем в&nbsp;следующих обзорах, чтобы не&nbsp;перегружать вас информацией. Если знаете интересных игроков&nbsp;&mdash; кидайте ссылки в&nbsp;комментариях, включим их&nbsp;в&nbsp;обзор.</p>
            <div class="fb-like" data-href="https://rentstation.ru{{ url_for('articles_nechego_nadet2') }}" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
        </div>
    </div>
</div>

<div class="container">

<div class="row spacer thumbnails" id="items-catalog">
    <div class="col-sm-12">
        <div class="row">
{% for item in items|shuffle(4) %}

            <div class="col-sm-3 item-thumbnail" style="padding-top: 20px; height: 500px;">
                <div class="item-data">
                    {% if item.is_sold %}
                    <div class="item-caption-sold">
                        <div class="center-block text-center v-center">
                            <span class="center-block" style="color: #FF0000">ПРОДАНО</span>
                        </div>
                    </div>
                    {% else %}
                    <div class="item-caption">
                        <div class="center-block text-center v-center">
                            <button type="button" class="btn btn-primary center-block" data-img="{{ url_for('static', filename=item.image_path) }}" data-title="{{ item.title }}" data-price="{{ item.price }}" data-id="{{ item.id }}" data-art="{{ item.art }}" data-min_period="{{ item.min_period|int }}" data-deposit="{{ item.deposit|int }}" data-toggle="modal" data-target="#itemModal">Арендовать</button>
                        </div>
                    </div>
                    {% endif %}
                    <img class="item-img" src="{{ url_for('static', filename=item.image_path) }}">
                </div>
                <p class="item-title"><a href="{{ item.url }}">{{ item.title }}</a></p>
                <p class="item-price">{{ item.price }} euro per day</p>
                <p class="item-city"><a href="{{ url_for('address_item', address_id=item.address.id) }}">{{ item.address.city_title }}</a></p>
                <p class="item-art">Артикул {{ item.art }}</p>
{#                <p class="item-deposit"> Залог {{ item.deposit }} руб.</p>#}
                {% if item.min_period == 1 %}
                  <p class="item-deposit">Минимальный срок аренды &mdash; неделя</p>
                {% elif item.min_period == 2 %}
                  <p class="item-deposit">Минимальный срок аренды &mdash; месяц</p>
                {% endif %}
                {% if item.description_short %}
                <p class="item-descr">{{ item.description_short }}</p>
                {% endif %}
{% if item.actual_booking %}
                <p class="item-descr"><b>Занят в следующие даты</b><br/>
{% for booking in item.actual_booking %}
                {{ booking.start|date }} &ndash; {{ booking.end|date }}<br/>
{% endfor %}
                </p>
{% else %}
                <p class="secondary">Свободен</p>
{% endif %}

            </div>
{% endfor %}
            <div class="col-sm-12">
                <p class="lead">Другие товары категории <a href="{{ url_for('catalog_slug_category', slug='road-bikes') }}">Шоссейные велосипеды</a></p>
            </div>
        </div>
    </div>
</div>

</div>

<div class="container">
    <div class="row spacer">
        <div class="col-sm-12">
            <div id="disqus_thread"></div>
        </div>
    </div>
</div>


<script>
/**
* RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
* LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
*/
var disqus_config = function () {
this.page.url = 'https://rentstation.ru{{ url_for('articles_nechego_nadet2') }}'; // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = 'rentstation'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');

s.src = '//rentstation.disqus.com/embed.js';

s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

{% endblock %}