{% extends 'layout.html' %}

{% block title %}Нечего надеть! (часть 1) | rentstation.ru{% endblock %}
{% block description %}Мы сделали небольшой обзор производителей велоформы для вас. Надеемся, он будет полезным и к новому сезону вы подойдете нарядными!{% endblock %}
{% block og_title %}Нечего надеть! (часть 1) | rentstation.ru{% endblock %}
{% block og_description %}Мы сделали небольшой обзор производителей велоформы для вас. Надеемся, он будет полезным и к новому сезону вы подойдете нарядными!{% endblock %}
{% block og_url %}https://rentstation.ru{{ url_for('articles_nechego_nadet') }}{% endblock %}
{% block og_image %}https://rentstation.ru{{ url_for('static', filename='img/articles/art1_1.jpg') }}{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 spacer">
            <h1>Нечего надеть! (часть 1)</h1>
            <p><small>4 Января 2016</small></p>
            <div class="fb-like" data-href="https://rentstation.ru{{ url_for('articles_nechego_nadet') }}" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
            <p class="article">Мы&nbsp;сделали небольшой обзор производителей велоформы для вас. Надеемся, он&nbsp;будет полезным и&nbsp;к&nbsp;новому сезону вы&nbsp;подойдете нарядными!</p>
            <p class="article">Мы&nbsp;не&nbsp;будем писать о&nbsp;тех брендах, которые можно купить в&nbsp;России, вы&nbsp;их&nbsp;и&nbsp;так все знаете&nbsp;&mdash; их&nbsp;не&nbsp;много.</p>
            <img style="width: 100%;" src="{{ url_for('static', filename='img/articles/art1_1.jpg') }}">
            <p class="article spacer"><a href="http://www.cadencecollection.com" target="_blank">http://www.cadencecollection.com</a>&nbsp;&mdash; США, Калифорния, немного хулиганистые. От&nbsp;джерси до&nbsp;бутылочек. Есть лайфстайл. Цена джерси примерно 100&nbsp;USD.</p>
            <p class="article"><a href="http://www.laclassica.com" target="_blank">http://www.laclassica.com</a>&nbsp;&mdash; Италия, есть отдельная винтаж коллекция. Спокойные цвета. Цена джерси примерно 150&nbsp;EUR.</p>
            <p class="article"><a href="http://chpt3.com" target="_blank">http://chpt3.com</a>&nbsp;&mdash; Maybach в&nbsp;мире велоформы. Специальный проект от&nbsp;Castelli. Цен на&nbsp;сайте нет.</p>
            <p class="article"><a href="http://www.cutaway.us" target="_blank">http://www.cutaway.us</a>&nbsp;&mdash; США, выросли из&nbsp;кемпов в&nbsp;Вирджинии. Ничего сносшибательного. Есть пара интересных принтов для повседневных футболок. Примерная цена джерси&nbsp;&mdash; 85&nbsp;USD</p>
            <p class="article"><a href="http://sabotagecycling.com" target="_blank">http://sabotagecycling.com</a>&nbsp;&mdash; США, Юта. Позиционируют себя как свободные катальщики. Имеют один принт и&nbsp;активно его используют, не&nbsp;более того. Средняя цена джерси&nbsp;&mdash; 100&nbsp;USD.</p>
            <p class="article"><a href="http://alpine.cc" target="_blank">http://alpine.cc</a>&nbsp;&mdash; США, три энтузиаста. Цена джерси около 100&nbsp;USD.</p>
            <p class="article"><a href="http://mackcycling.com" target="_blank">http://mackcycling.com</a>&nbsp;&mdash; Польша. Помимо стандартных наборов велоодежды, производят носки. Цены приятные. Около 60&nbsp;USD за&nbsp;джерси и&nbsp;7,5&nbsp;USD за&nbsp;носки</p>
            <p class="article"><a href="http://www.warsawcycling.com" target="_blank">http://www.warsawcycling.com</a>&nbsp;&mdash; Франция. Несколько ярких принтов. Стоимость джерси примерно 110&nbsp;USD.</p>
            <p class="article"><a href="http://www.lumierecycling.com" target="_blank">http://www.lumierecycling.com</a>&nbsp;&mdash; Австралия. Крупные цветы и&nbsp;тонкие линии. Средняя цена джерси 130&nbsp;USD</p>
            <p class="article"><a href="http://thepedla.com" target="_blank">http://thepedla.com</a>&nbsp;&mdash; Австралия, Мельбурн. Внимание к&nbsp;мелочам. Интересные/необычные цвета, аэро. Средняя джерси&nbsp;&mdash; 130&nbsp;USD.</p>
            <p class="article"><a href="http://jaggad.com" target="_blank">http://jaggad.com</a>&nbsp;&mdash; Австралия. Широкая линейка, в&nbsp;том числе триатлон и&nbsp;бег. Большой выбор расцветок. Средняя цена джерси&nbsp;&mdash; 130&nbsp;USD</p>
            <p class="article"><a href="http://phapparel.com" target="_blank">http://phapparel.com</a>&nbsp;&mdash; PH&nbsp;&mdash; Push Hard. Италия. НА&nbsp;всех фотографиях серьезные молодые люди ( не&nbsp;то, что у&nbsp;JAGGAD). Джерси от&nbsp;100&nbsp;USD.</p>
            <p class="article"><a href="http://blacksheepcycling.cc" target="_blank">http://blacksheepcycling.cc</a>&nbsp;&mdash; Австралия. Очень внимательно относятся к&nbsp;качеству. Есть базовые модели. Каждый сезон выпускают ограниченное количество принтов. На&nbsp;сегодня все раскуплено. Средняя стоимость джерси&nbsp;&mdash; 120&nbsp;USD.</p>
            <p class="article"><a href="http://www.cycologygear.com" target="_blank">http://www.cycologygear.com</a>&nbsp;&mdash; Австралия, Сидней. Целая философия. Принты в&nbsp;духе Эда Харди, много черепов, железа и&nbsp;здорового юмора. Средняя цена джерси&nbsp;&mdash; 90&nbsp;USD.</p>
            <p class="article"><a href="http://www.bettydesigns.com" target="_blank">http://www.bettydesigns.com</a>&nbsp;&mdash; США, Калифорния. Для горячих жопок (исключительно женский бренд), все очень красиво, свой клуб, свои темы. Есть триатлон и&nbsp;купальники Средняя стоимость джерси 130&nbsp;USD.</p>

            <p class="article">Если знаете интересных игроков&nbsp;&mdash; кидайте ссылки в&nbsp;комментариях, включим их&nbsp;в&nbsp;обзор.</p>
            <p class="article">Про другие бренды читайте в продолжении статьи <a href="{{ url_for('articles_nechego_nadet2') }}">Нечего надеть! (часть 2)</a></p>
            <div class="fb-like" data-href="https://rentstation.ru{{ url_for('articles_nechego_nadet') }}" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>

        </div>
    </div>
</div>

<div class="container">

<div class="row spacer thumbnails" id="items-catalog">
    <div class="col-sm-12">
        <div class="row">
{% for item in items|shuffle(4) %}

            <div class="col-sm-3 item-thumbnail" style="padding-top: 20px; height: 500px;">
                <div class="item-data">
                    {% if item.is_sold %}
                    <div class="item-caption-sold">
                        <div class="center-block text-center v-center">
                            <span class="center-block" style="color: #FF0000">ПРОДАНО</span>
                        </div>
                    </div>
                    {% else %}
                    <div class="item-caption">
                        <div class="center-block text-center v-center">
                            <button type="button" class="btn btn-primary center-block" data-img="{{ url_for('static', filename=item.image_path) }}" data-title="{{ item.title }}" data-price="{{ item.price }}" data-id="{{ item.id }}" data-art="{{ item.art }}" data-min_period="{{ item.min_period|int }}" data-deposit="{{ item.deposit|int }}" data-toggle="modal" data-target="#itemModal">Арендовать</button>
                        </div>
                    </div>
                    {% endif %}
                    <img class="item-img" src="{{ url_for('static', filename=item.image_path) }}">
                </div>
                <p class="item-title"><a href="{{ item.url }}">{{ item.title }}</a></p>
                <p class="item-price">{{ item.price }} euro per day</p>
                <p class="item-city"><a href="{{ url_for('address_item', address_id=item.address.id) }}">{{ item.address.city_title }}</a></p>
                <p class="item-art">Артикул {{ item.art }}</p>
{#                <p class="item-deposit"> Залог {{ item.deposit }} руб.</p>#}
                {% if item.min_period == 1 %}
                  <p class="item-deposit">Минимальный срок аренды &mdash; неделя</p>
                {% elif item.min_period == 2 %}
                  <p class="item-deposit">Минимальный срок аренды &mdash; месяц</p>
                {% endif %}
                {% if item.description_short %}
                <p class="item-descr">{{ item.description_short }}</p>
                {% endif %}
{% if item.actual_booking %}
                <p class="item-descr"><b>Занят в следующие даты</b><br/>
{% for booking in item.actual_booking %}
                {{ booking.start|date }} &ndash; {{ booking.end|date }}<br/>
{% endfor %}
                </p>
{% else %}
                <p class="secondary">Свободен</p>
{% endif %}

            </div>
{% endfor %}
            <div class="col-sm-12">
                <p class="lead">Другие товары категории <a href="{{ url_for('catalog_slug_category', slug='road-bikes') }}">Шоссейные велосипеды</a></p>
            </div>
        </div>
    </div>
</div>

</div>

<div class="container">
    <div class="row spacer">
        <div class="col-sm-12">
            <div id="disqus_thread"></div>
        </div>
    </div>
</div>

<script>
/**
* RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
* LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
*/
var disqus_config = function () {
this.page.url = 'https://rentstation.ru{{ url_for('articles_nechego_nadet') }}'; // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = 'rentstation'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');

s.src = '//rentstation.disqus.com/embed.js';

s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

{% endblock %}


<blockquote class="instagram-media" data-instgrm-captioned data-instgrm-version="6" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:8px;"> <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:50.0% 0; text-align:center; width:100%;"> <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAAGFBMVEUiIiI9PT0eHh4gIB4hIBkcHBwcHBwcHBydr+JQAAAACHRSTlMABA4YHyQsM5jtaMwAAADfSURBVDjL7ZVBEgMhCAQBAf//42xcNbpAqakcM0ftUmFAAIBE81IqBJdS3lS6zs3bIpB9WED3YYXFPmHRfT8sgyrCP1x8uEUxLMzNWElFOYCV6mHWWwMzdPEKHlhLw7NWJqkHc4uIZphavDzA2JPzUDsBZziNae2S6owH8xPmX8G7zzgKEOPUoYHvGz1TBCxMkd3kwNVbU0gKHkx+iZILf77IofhrY1nYFnB/lQPb79drWOyJVa/DAvg9B/rLB4cC+Nqgdz/TvBbBnr6GBReqn/nRmDgaQEej7WhonozjF+Y2I/fZou/qAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div></div> <p style=" margin:8px 0 0 0; padding:0 4px;"> <a href="https://www.instagram.com/p/_Pxf_JmUV9/" style=" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;" target="_blank">#Campioni #nero #premium #quality #cyclingcouture #cycling #jerseys #finito #knicks available now at Babici.cc #letsroll</a></p> <p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">A photo posted by Babici (@babici) on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2015-12-13T21:06:00+00:00">Dec 13, 2015 at 1:06pm PST</time></p></div></blockquote>
<script async defer src="//platform.instagram.com/en_US/embeds.js"></script>