{% extends 'layout.html' %}

{% block content %}

<div class="container">

<h1>{{ session.user_name }}</h1>
<div class="row">
    <div class="col-sm-12 col-md-12">
        <h4>Email</h4>
        <p>{{ client.email }}</p>
        <h4>Balance</h4>
        <p>{% if client.balance %}{{ client.balance.balance|number_format(tsep=' ') }}{% else %}0{% endif %}</p>
    </div>
</div>

</div>
{% endblock %}