{% extends 'layout.html' %}

{% block content %}
<div class="container">
  <div class="jumbotron">
    <h1>Спасибо!</h1>
    <p class="lead">Мы сохранили ваш заказ.</p>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-12 text-center">
      <a class="btn btn-success" href="{{ url_for('index') }}">Заказать еще</a>
    </div>
  </div>
</div>
{% endblock %}