{% extends 'layout.html' %}

{% block title %}{{ category_page_title|default('Rental of sports equipment') }} | rentstation.net{% endblock %}
{% block description %}{{ category_page_title|default('Rental of sports equipment. Триатлон, велоспорт, велочемоданы, велотренажеры, сноуборды, беговые и горные лыжи.') }}{% endblock %}

{% block content %}
<div class="container">

<h1>{{ category_page_title|default('Rental of sports equipment', true) }}</h1>

<div class="row spacer thumbnails" id="items-catalog">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-3" style="margin-top: 24px;">
                <form class="filter">
                <p><a id="show_all" href="#">Показать все</a></p>
{% for property in properties|sort %}
                <p>
                    <b>{{ property.title }}</b>
{% for option in property.option|sort(attribute='title') %}
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="o[]" value="{{ option.id }}"> {{ option.title }}
                        </label>
                    </div>
{% endfor %}
                </p>
{% endfor %}
                </form>
{#                <p><a href="#">Категории</a></p>#}
{#                <p><a href="#">Доступные на период</a></p>#}
            </div>
            <div class="col-sm-9">
                <div class="row" id="items-container">
                    <div class="col-sm-12">
                        <div class="row">

{% for item in items %}
                            <div class="col-sm-4 item-thumbnail" style="padding-top: 20px; height: 400px;">
                                <div class="item-data">
                                    {% if item.is_sold %}
                                    <div class="item-caption-sold">
                                        <div class="center-block text-center v-center">
                                            <span class="center-block" style="color: #FF0000">ПРОДАНО</span>
                                        </div>
                                    </div>
                                    {% else %}
                                    <div class="item-caption">
                                        <div class="center-block text-center v-center">
                                            <button type="button" class="btn btn-primary center-block" data-img="{{ url_for('static', filename=item.image_path) }}" data-title="{{ item.title }}" data-price="{{ item.price }}" data-id="{{ item.id }}" data-art="{{ item.art }}" data-min_period="{{ item.min_period|int }}" data-deposit="{{ item.deposit|int }}" data-toggle="modal" data-target="#itemModal">Арендовать</button>
                                        </div>
                                    </div>
                                    {% endif %}
                                    <img class="item-img" src="{{ url_for('static', filename=item.image_path) }}">
                                </div>
                                <p class="item-title"><a href="{{ item.url }}">{{ item.title }}</a></p>
                                <p class="item-price">{{ item.price }} euro per day</p>
                                <p class="item-city"><a href="{{ url_for('address_item', address_id=item.address.id) }}">{{ item.address.city_title }}</a></p>
                                <p class="item-art">Артикул {{ item.art }}</p>
                                {% if item.min_period == 1 %}
                                  <p class="item-deposit">Минимальный срок аренды &mdash; неделя</p>
                                {% elif item.min_period == 2 %}
                                  <p class="item-deposit">Минимальный срок аренды &mdash; месяц</p>
                                {% endif %}
                                {% if item.description_short %}
                                <p class="item-descr">{{ item.description_short }}</p>
                                {% endif %}
{% if item.actual_booking %}
                                <p><b>Занят в следующие даты</b><br/>
{% for booking in item.actual_booking %}
                                {{ booking.start|date }} &ndash; {{ booking.end|date }}<br/>
{% endfor %}
                                </p>
{% else %}
                                <p class="secondary">Свободен</p>
{% endif %}

                            </div>
{% endfor %}

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12" style="margin-top: 24px;">
                        <p class="lead">Если вы не нашли то, что искали, <a href="{{ url_for('contact') }}">дайте нам знать</a>, и мы постараемся вам помочь.</p>
                        <p class="lead">Мы активно ищем владельцев инвентаря, готовых предоставить свое имущество в аренду. Если у вас или у ваших друзей есть хороший, качественный инвентарь, и вы готовы им поделиться &mdash; <a href="{{ url_for('contact') }}">напишите нам!</a> Мы, как обычно, гарантируем его сохранность и возвратность.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
{% endblock %}
