{% extends 'layout.html' %}

{% block title %}{{ category_page_title|default('Rental of sports equipment', true) }} | rentstation.net{% endblock %}
{% block description %}{{ category_page_title|default('Rental of sports equipment. Триатлон, велоспорт, велочемоданы, велотренажеры, сноуборды, беговые и горные лыжи.', true) }}{% endblock %}

{% block content %}

<div class="container">

{% if request.endpoint not in ('index', 'rent_new', 'rent_top') %}
<h1>{{ category_page_title|default('Rental of sports equipment', true) }}</h1>
{% endif %}

<div class="row spacer thumbnails" id="items-catalog">
    <div class="col-sm-12">
        <div class="row">
{% for item in items %}

            <div class="col-sm-3 item-thumbnail" style="padding-top: 20px; height: 400px;">
                <div class="item-data">
                    {% if item.is_sold %}
                    <div class="item-caption-sold">
                        <div class="center-block text-center v-center">
                            <span class="center-block" style="color: #FF0000">SOLD</span>
                        </div>
                    </div>
                    {% else %}
                    <div class="item-caption">
                        <div class="center-block text-center v-center">
                            <button type="button" class="btn btn-primary center-block" data-img="{{ url_for('static', filename=item.image_path) }}" data-title="{{ item.title }}" data-price="{{ item.price }}" data-id="{{ item.id }}" data-art="{{ item.art }}" data-min_period="{{ item.min_period|int }}" data-deposit="{{ item.deposit|int }}" data-toggle="modal" data-target="#itemModal">Rent</button>
                        </div>
                    </div>
                    {% endif %}
                    <img class="item-img" src="{{ url_for('static', filename=item.image_path) }}">
                </div>
                <p class="item-title"><a href="{{ item.url }}">{{ item.title }}</a></p>
                <p class="item-price">{{ item.price }} euro per day</p>
                <p class="item-city"><a href="{{ url_for('address_item', address_id=item.address.id) }}">{{ item.address.city_title }}</a></p>
                <p class="item-art">SKU {{ item.art }}</p>
                {% if item.min_period == 1 %}
                  <p class="item-deposit">Minimum rental period &mdash; week</p>
                {% elif item.min_period == 2 %}
                  <p class="item-deposit">Minimum rental period &mdash; month</p>
                {% endif %}
                {% if item.description_short %}
                <p class="item-descr">{{ item.description_short }}</p>
                {% endif %}
{% if item.actual_booking %}
                <p class="item-descr"><b>Item is occupied on following dates</b><br/>
{% for booking in item.actual_booking %}
                {{ booking.start|date }} &ndash; {{ booking.end|date }}<br/>
{% endfor %}
                </p>
{% else %}
                <p class="secondary">Vacant</p>
{% endif %}

            </div>
{% endfor %}
            <div class="col-sm-12">
                <p class="lead"><a href="{{ url_for('contact') }}">Contact us</a> in case of you do not find what you looking for.</p>
            </div>
        </div>
    </div>
</div>

</div>

{% endblock %}
