{% extends 'layout.html' %}

{% block title %}{{ item.title }}{% endblock %}
{% block description %}{{ item.title }}{% endblock %}

{% block content %}
<div class="container">

<h1>Booking</h1>
<div class="row spacer">
  <div class="col-sm-6 col-md-6" id="items-catalog">
    <div class="thumbnail">
      <img src="{{ url_for('static', filename=item.image_path) }}" alt="{{ item.title }}">
    </div>
  </div>
  <div class="col-sm-6 col-md-6" itemscope itemtype="http://schema.org/Product">
    <p class="lead" itemprop="name">{{ item.title }}</p>
    <p><small>SKU {{ item.art }}</small></p>
    <p class="item-city">{{ item.address.city_title }}</p>
    <p class="item-price">{{ item.price }} euro per day</p>
    {% if item.deposit > 0 %}
      <p class="item-price">Deposit {{ item.deposit }} euro</p>
    {% endif %}
    {% if item.min_period == 1 %}
      <p>Minimum rental period &mdash; week</p>
    {% elif item.min_period == 2 %}
      <p>Minimum rental period &mdash; month</p>
    {% endif %}
    {% if item.description %}
      <p>{{ item.description|nl2br }}</p>
    {% endif %}
    {% if item.actual_booking %}
      <p class="secondary">Item is occupied on following dates</p>
      {% for booking in item.actual_booking %}
        <p>{{ booking.start|date }} &ndash; {{ booking.end|date }}</p>
      {% endfor %}
    {% endif %}
    {% if not item.is_sold %}
    <button type="button" class="btn btn-primary" data-img="{{ url_for('static', filename=item.image_path) }}" data-title="{{ item.title }}" data-price="{{ item.price }}" data-id="{{ item.id }}" data-art="{{ item.art }}" data-min_period="{{ item.min_period|int }}" data-deposit="{{ item.deposit|int }}" data-toggle="modal" data-target="#itemModal">Book</button>
    {% endif %}
  </div>
</div>

</div>
{% endblock %}

