{% extends 'layout.html' %}

{% block title %}Sell-out | rentstation.net{% endblock %}

{% block content %}

<div class="container">

<div class="row spacer thumbnails" id="items-catalog">
    <div class="col-sm-12">
        <div class="row">
{% for item in items %}
{% if request.endpoint in ['index', 'catalog'] and loop.index == 5 %}
            <div class="col-sm-6">
            <div class="item-thumbnail clickable" data-location="{{ url_for('catalog_slug_category', slug='fat-bikes') }}" style="padding-top: 20px; height: 300px; background-position: center; background-image: url('http://mtbs.cz/media/clanky/48262/titulka/1_MongooseFatbike_gal_perv.jpg'); text-align: right; position: relative;">
                <div class="banner" style="position: absolute; bottom: 20px; right: 20px">
                    <p>Фэтбайки</p>
                </div>
            </div>
            </div>
            <div class="col-sm-6">
            <div class="item-thumbnail clickable" data-location="{{ url_for('catalog_slug_category', slug='cross-country-skis') }}" style="padding-top: 20px; height: 300px; background-position: center; background-image: url('http://www.fis-ski.com/imgml/background/32789_FLS_W01.jpg'); text-align: right; position: relative;">
                <div class="banner" style="position: absolute; bottom: 20px; right: 20px">
                    <p>Беговые лыжи</p>
                </div>
            </div>
            </div>
{% endif %}
            <div class="col-sm-3 item-thumbnail" style="padding-top: 20px; height: 400px;">
                <div class="item-data">
                    {% if item.is_sold %}
                    <div class="item-caption-sold">
                        <div class="center-block text-center v-center">
                            <span class="center-block" style="color: #FF0000">ПРОДАНО</span>
                        </div>
                    </div>
                    {% endif %}
                    <img class="item-img" src="{{ url_for('static', filename=item.image_path) }}">
                </div>
                <p class="item-title">{{ item.title }}</p>
                <p class="item-price">{{ item.sell_price }} euro</p>
                <p class="item-city">{{ item.address.city_title }}</p>
                <p class="item-art">Артикул {{ item.art }}</p>
                {% if item.description_short %}
                <p class="item-descr">{{ item.description_short }}</p>
                {% endif %}

            </div>
{% endfor %}
            <div class="col-sm-12">
                <p class="lead">Если вы не нашли то, что искали, <a href="{{ url_for('contact') }}">дайте нам знать</a>, и мы постараемся вам помочь.</p>
                <p class="lead">Мы активно ищем владельцев инвентаря, готовых предоставить свое имущество в аренду. Если у вас или у ваших друзей есть хороший, качественный инвентарь, и вы готовы им поделиться &mdash; <a href="{{ url_for('contact') }}">напишите нам!</a> Мы, как обычно, гарантируем его сохранность и возвратность.</p>
            </div>
        </div>
    </div>
</div>

</div>
{% endblock %}
